body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}


// Header

header {
	background: #eee;
	border-bottom: 1px solid #ccc;
	margin-bottom: 60px;
	padding: 30px 0;

	h1 {
		margin: 0;
	}

}


// Scores Table
.scores {
	padding-right: 40px;

	.add-score {
		margin-bottom: 50px;

		.btn {
			width: 100%;
		}
		
	}

	table {

		th, td {
			line-height: 34px !important;
		}

		.btn {
			margin-left: 5px;
		}	

		.editState {
			display: none;
		}

		.editable {

			.readState {
				display: none;
			}

			.editState {
				display: inline-block;
			}

		}

	}

}



// Stats

.stats {

	h2 {
		margin-top: 0;
	}

	.row {
		padding-bottom: 15px;

	}

}